.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root {
  --blue: #7cd1e1;
  --dark-blue: #073979;
  --blue2: #679dcc;
  --light-blue: #a3d2f4;
  --gray: #4b4b4b;
  --light-gray: #a5a5a5;
  --light-gray2: #e3e3e3;
}

.main {
    margin-top: 110px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.header {
    position: fixed;
    top:0;
    left:0;
    background-color: var(--blue);
    width: 100%;
    height: 110px;
    color: white;
    font-weight: 500;
}

.home-title {
    font-size: 70px;
    margin-left: .2em;
    float: left;
}

.header > a {
    float: right;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-right: 10px;
    font-size: 30px;
    margin-top:50px;
    font-weight: 325;
}

.header > a:hover {
    color: var(--dark-blue);
}

.container .conteiner_groups {
    display: grid;
    grid-gap: 10px;
    width: 90%;
    /* margin-top: 140px; */
    margin: auto;
    margin-top: 0%;
    align-items: center;
}

.groups {
    display: grid;
    /*grid-template-columns: 1;*/
    grid-gap: 10px;
    width: 100%;
    margin-top: 20px; 
    align-items: center;
    margin: auto;
}

/* .evaluations .add-img{
    width: 90%;
    height: 90%; 
    opacity: 35% ;
    padding: 10px;
    border-radius: 5%;
    z-index: -1; 
} */

.group-title, .evaluations-title, .people-title, .question-title{
    font-size: 50px;
    margin-left: 10px;
    font-weight: 500
}
.groups > div {
  width: 90%;
  border-radius: 5%;
  /*text-align: center;*/
  align-items: center;
  height: 150px;
  padding: 10px;
  font-weight: 350;
  border: solid 1.5px var(--light-gray2);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /*min-height: 150px;*/
}

.groups .group-create{
  width: 90%;
  border-radius: 5%;
  align-items: center;
  text-align: center;
  height: 60px;
  padding: 10px;
  font-weight: 350;
  border: solid 1.5px var(--light-gray2);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.groups .card-group{
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  height: auto;
  
}

.content-card-group{
  margin-left: 10px;
  margin-top: 10px;
}

.Name-group-card{
  font-size: 25px;
  font-weight: 500;
}

.conteiner .conteiner_evaluations{
  display: grid;
  grid-gap: 10px;
  width: 90%;
  /* margin-top: 140px; */
  margin: auto;
  align-items: center;
}

.container .conteiner_evaluations .evaluations .info_ev{
  display: grid;
  /*grid-template-columns: 1;*/
  grid-gap: 10px;
  width: 95%;
  align-items: center;
}

.container .conteiner_evaluations .evaluations{
  display: grid;
  width: 95%;
  align-items: center;

}


.container .conteiner_evaluations .evaluations .info_ev .card-evaluation{
  display: grid;
  grid-template-columns: 15% 85%;
  align-items: center;
  height: auto;
}

.info_ev > div {
  width: 90%;
  border-radius: 5%;
  /*text-align: center;*/
  align-items: center;
  height: 150px;
  padding: 10px;
  font-weight: 350;
  border: solid 1.5px var(--light-gray2);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /*min-height: 150px;*/
}

.n_ev-card{
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.name-ev-card{
  font-size: 25px;
  font-weight: 500;
}

.dentro-ev-card{
  display: grid;
  grid-template-rows: auto auto;
  height: 100%;
  margin-top: 5px;
  margin-left: 5px;

}

.info_just_ev{
  height: auto;
}

.info_test_ev{
  height: auto;
  margin-top: 10px;
  display: grid;
  grid-template-rows: auto auto;
  margin-top: 0px;
}

.title-test-on-ev, .test-title {
  font-size: 25px;
  font-weight: 500;
  margin-top: 0px;
}
.test-n-card{
  display: grid;
  grid-template-columns: 50% 50%;
  font-size: 20px;
  font-weight: 500;
}

hr{
  width: 100%;
}
th,td {
    border: 1px solid var(--light-gray2);
    padding: 8px;
}

thead {
    background-color: var(--blue2);
    color: white;
}

table {
    margin-top: 10px;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
}

tbody tr:hover {
    background-color: var(--light-gray2);
}

/* .evaluations, .people {
    margin-left: 30px;
} */

.popup {
	width: 450px;
	font-size: 16px;
	background: rgb(255, 255, 255);
	padding: 30px 30px 15px 30px;
	border: 3px solid #5e6a76;
    color: var(--gray);
}
.popup2 {
  margin-left: 10px;
}

/* https://getcssscan.com/css-buttons-examples */
/* CSS */
.button-21 {
  align-items: center;
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-top: 10px;
}

.button-21:active,
.button-21:focus {
  outline: none;
}

.button-21:hover {
  background-position: -20px -20px;
}

.button-21:focus:not(:active) {
  box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}
/* --------------------------------------------------------- */



.margin {
    margin-left: 10px;
}

.question-popup, .group-popup, .person-popup, .evaluation-popup{
    font-weight: 550;
    font-size: 120%;
}
.test-popup{
    font-weight: 200;
    font-size: 15px;
}
.delete-btn {
  background-color: #ff3939;
  /* color: white; */
  float:right;
  /*margin-top:30px;*/
  margin-right: 5px;
  color:white;
  border-radius: 15%;
  padding:3px;
  border: solid;
}

.delete-btnP {
  background-color: #ff3939;
  /* color: white; */
  float:right;
  align-items: center;
  color:white;
  border-radius: 15%;
  padding:3px;
  border: solid;
}

.delete-btnE {
  background-color: #ff3939;
  /* color: white; */
  float:right;
  align-items: center;
  color:white;
  border-radius: 15%;
  padding:3px;
  border: solid;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 50px;
  
}
.seeQ-btn{
  background-color: #39ff4a;
  /* color: white; */
  float:right;
  align-items: center;
  color:white;
  border-radius: 15%;
  padding:3px;
  border: solid;
  margin-top: 30px;
  margin-bottom: 0px;
}
.addQ-btn{
  background-color: #fbff00;
  /* color: white; */
  float:right;
  align-items: center;
  color:white;
  border-radius: 15%;
  padding:3px;
  border: solid;
  margin-top: 30px;
  margin-bottom: 0px;

}


.btnSeeTest{
  background-color: #9b902e;
  /* color: white; */
  align-items: center;
  width: 30%;
  color:white;
  border-radius: 15%;
  padding:3px;
  border: solid;
}
.shereBtn{
  background-color: #2bff24;
  /* color: white; */
  float:right;
  align-items: center;
  color:white;
  border-radius: 15%;
  padding:3px;
  border: solid;
  width: 30%;
  margin-top: 30px;
  margin-bottom: 0px;
}

.delete-btn:hover {
  background-color: #8b1b1b;
}